/* 모바일 화면에서만 콘텐츠를 표시합니다. */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: flex-start; /* 상단에 붙이기 */
    height: 100vh; /* 전체 화면 높이 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 기본 여백 제거 */
    box-sizing: border-box; /* 패딩과 테두리가 전체 크기에 포함되도록 설정 */
  }

  .box {
    background-color: #895D3C;
    width: 100%;
    height: 15px;
  }

  .flower {
    max-width: 100%; /* 이미지 크기가 화면을 넘지 않도록 설정 */
    height: auto; /* 이미지의 비율을 유지 */
    display: block; /* 이미지를 블록 요소로 설정 */
    margin-top: 150px; /* 이미지와 상단 요소 간의 여백 추가 */
    margin-bottom: 150px;
  }

  .button1 {
    color: #523522;
    background-color: #FFDA2D;
    width: 337px;
    height: 62px;
    text-align: center;
    border: none;
    font-size: 16px; /* 버튼 텍스트 크기 */
    margin-top: 20px; /* 버튼과 상단 요소 간의 여백 추가 */
    border-radius: 20px;
  }
  .button2 {
    color: #895D3C;
    background-color: white;
    width: 337px;
    height: 62px;
    text-align: center;
    border: solid 1px #895D3C;
    font-size: 16px; /* 버튼 텍스트 크기 */
    margin-top: 20px; /* 버튼과 상단 요소 간의 여백 추가 */
    border-radius: 20px;
  }
}

/* 데스크탑 화면에서는 콘텐츠를 숨깁니다. */
@media (min-width: 769px) {
  .container {
    display: none; /* 데스크탑 화면에서는 콘텐츠를 숨김 */
  }
}
