.line {
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #895d3c; /* 선의 색상 */
  position: fixed;
  margin: 0 auto; /* 화면 중앙에 배치 */
}

body {
  background-color: #f8f4f3; /* 원하는 배경색으로 변경 */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#nextBtn {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-image: url("./image/right_arrow.png");
  cursor: pointer;
}

#prevBtn {
  position: fixed;
  left: 1rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url("./image/goBack.png");
  border: none;
  cursor: pointer;
}

#helpBtn {
  position: fixed;
  right: 1rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("./image/help.png");
  border: none;
  border-radius: 50%; /* 원형 버튼 */
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* 화면 전체 높이 사용 */
  padding: 1rem; /* 여백 추가 */
  box-sizing: border-box;
}

#idBox {
  margin-bottom: 6rem;
  position: relative;
  top: 15%;
  right: 6%;
}

#inputId {
  border: none;
  border-bottom: 2px solid #895d3c;
  width: 80%;
  font-size: 20px;
  margin-bottom: 1rem;
  background-color: #f8f4f3;
  color: #895d3c;
  outline: none;
}

#inputPwd {
  border: none;
  border-bottom: 2px solid #895d3c;
  width: 80%;
  font-size: 20px;
  background-color: #f8f4f3;
  color: #895d3c;;
  outline: none;
}

#inputRePwd {
  border: none;
  margin-top: 1rem;
  border-bottom: 2px solid #895d3c;
  width: 80%;
  font-size: 20px;
  background-color: #f8f4f3;
  color: #eaddd8;
  outline: none;
}

#startBtn {
  color: #523522;
  background-color: #ffda2d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 62px;
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 16px; /* 버튼 텍스트 크기 */
  margin-top: 20px; /* 버튼과 상단 요소 간의 여백 추가 */
  border-radius: 20px;

  position: fixed; /* 화면에 고정 */
  left: 50%; /* 화면의 가로 중앙에 위치 */
  bottom: 4rem; /* 화면 하단에서 2rem 위에 위치 */
  transform: translateX(-50%); /* 가로 중앙 정렬 */
}

#login {
  color: #523522;
  background-color: #ffda2d;
  width: 337px;
  height: 62px;
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 16px; /* 버튼 텍스트 크기 */
  margin-top: 20px; /* 버튼과 상단 요소 간의 여백 추가 */
  border-radius: 20px;

  position: fixed; /* 화면에 고정 */
  left: 50%; /* 화면의 가로 중앙에 위치 */
  bottom: 4rem; /* 화면 하단에서 2rem 위에 위치 */
  transform: translateX(-50%); /* 가로 중앙 정렬 */
}

h1 {
  color: #714c1f;
  font-size: 1.6rem;
}

h2 {
  color: #714c2f;
}

#idBox div {
  color: #895d3c;
}

input::placeholder {
  color: #eaddd8;
  font-weight: bold;
}

.checkSet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}

.signUp2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
